<%- include('partials/header') %>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Xenon Cars</h1>
      <p class="lead text-muted">
        All Of Our Stock Is Available To View On Our Website. We Specialise In Affordable Sports & Prestige Vehicles
      </p>
      <p>
        <a href="/register" class="btn btn-light my-2">Register</a>
        <a href="/login" class="btn btn-secondary my-2">Login</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              src="https://cdn.discordapp.com/attachments/717419927304142905/1039787369039138876/unknown.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-text text-center">Ferrari 296 GTB</h3>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">
                    Book Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              src="https://cdn.discordapp.com/attachments/717419927304142905/1039787518524133396/unknown.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-text text-center">McLaren 720S</h3>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">
                    Book Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              src="https://media.discordapp.net/attachments/717419927304142905/1039787622245085266/unknown.png?width=810&height=536"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-text text-center">Ferrari SF90 Stradale</h3>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">
                    Book Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              src="https://media.discordapp.net/attachments/717419927304142905/1039787752503390249/unknown.png?width=810&height=540"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-text text-center">Lamborghini Huracán</h3>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">
                    Book Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              src="https://media.discordapp.net/attachments/717419927304142905/1039787834330071040/unknown.png?width=810&height=540"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-text text-center">Maserati MC20</h3>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">
                    Book Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              src="https://media.discordapp.net/attachments/717419927304142905/1039788052865884180/unknown.png?width=810&height=540"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-text text-center">McLaren Artura</h3>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">
                    Book Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              src="https://media.discordapp.net/attachments/717419927304142905/1039788137460809748/unknown.png?width=810&height=536"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-text text-center">Ford GT</h3>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">
                    Book Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              src="https://media.discordapp.net/attachments/717419927304142905/1039788235607511060/unknown.png?width=810&height=540"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-text text-center">Lamborghini Aventador</h3>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">
                    Book Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              src="https://cdn.discordapp.com/attachments/717419927304142905/1039788357749833750/unknown.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-text text-center">Aston Martin Valhalla</h3>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">
                    Book Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
